.header-section {
  padding: 5rem 0;

  background: rgb(39,143,222);
  background: -moz-radial-gradient(circle, rgba(39,143,222,0.96) 25%, rgba(63,81,181,1) 80%);
  background: -webkit-radial-gradient(circle, rgba(39,143,222,0.96) 25%, rgba(63,81,181,1) 80%);
  background: radial-gradient(circle, rgba(39,143,222,0.96) 25%, rgba(63,81,181,1) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#278fde",endColorstr="#3f51b5",GradientType=1);

  .header-headline {
    color: #ffffff;

    &__title {
      margin-bottom: 0.5em;
      font-size: 2.5rem;
    }
    &__subtitle {
      margin-top: 0.5em;
      font-size: 1.2rem;
    }
  }

  .home-start {
    margin-top: 1.5rem;
  }
}

.home-content {
  padding: 6rem 0px;

  .mat-icon {
    width: 130px;
    height: 130px;
    font-size: 130px;
    color: #c7c7c7;
  }
}