<section class="header-section mat-typography">
    <div class="header-headline" [fxLayout]="'column'" [fxLayoutAlign]="'center center'">
        <h1 class="header-headline__title ">🏃‍♂️Bolt 🏃‍♂️ Angular Material Quick Starter</h1>
        <h4 class="header-headline__subtitle">A quickly template based on Material Angular</h4>
    </div>
    <div class="home-start" [fxLayout]="'column'" [fxLayoutAlign]="'center center'">
        <a href="https://github.com/emandig/bolt-angular-material-starter" target="_blank" mat-raised-button>Get Started</a>
    </div>
</section>
<section class="home-content" [fxLayout]="'column'"  [fxLayoutAlign]="'center center'">
    <mat-icon _ngcontent-uux-c10="" class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">dashboard</mat-icon>
    <p>This is home</p>
</section>