/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
.mat-sidenav-container,
app-root {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.white-link {
  text-decoration: inherit;
  color: inherit;

  &:hover{
      text-decoration: underline;
  }
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}
