.content {
  flex: 1 0 auto;
}

.header {
  z-index: 2;

  .logo {
    font-weight: 500;
    font-size: 1.5rem;
  }
}

.footer {
  flex-shrink: 0;
}

.body-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
